<div fxLayout="column">
  <div class="flex-p">
    <mat-card class="p-0 mat-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle>
          <h2>{{ 'all.create' | translate }}</h2>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content [formGroup]="form">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
          <div fxFlex>
            <mat-form-field fxFlex="100%">
              <mat-select formControlName="mecanico" [placeholder]="'object.mecanico' | translate" 
                [(ngModel)]="object.mecanico" required >
                <mat-option>-- {{ 'all.select' | translate }} --</mat-option>
                <mat-option *ngFor="let mecanico of mecanicos" [value]="mecanico">
                  {{ mecanico.nombreCompleto }}
                </mat-option>
              </mat-select>
              <mat-error *ngIf="form.get('mecanico').hasError('required')">
                {{ 'form.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div fxFlex>
            
          </div>
        </div>
      </mat-card-content>

      <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end" class="flex-p">
        <button type="button" (click)="onBack()" mat-button class="m-1" color="warn">
          <mat-icon class="m-1">close</mat-icon> {{ 'all.cancel' | translate }}
        </button>
        <button type="button" [disabled]="disableSubmit" class="m-1" mat-raised-button color="primary"
          (click)="onSubmit()">
          <mat-icon class="m-1">save</mat-icon> {{ 'all.save' | translate }}
        </button>
      </div>
    </mat-card>
  </div>
</div>