<div fxLayout="column">
  <div class="flex-p">
    <mat-card class="p-0 mat-card">
      <mat-card-header fxLayoutAlign="center">
        <mat-card-subtitle>
          <h2>{{ 'all.create' | translate }}</h2>
        </mat-card-subtitle>
      </mat-card-header>

      <mat-card-content class="p-16 m-0" [formGroup]="form">
        <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
          <div class="item" fxFlex>
            <mat-form-field fxFlex="100%">
              <input matInput [placeholder]="'user.firstName' | translate" formControlName="firstName"
                [(ngModel)]="user.firstName">
              <mat-error *ngIf="form.get('firstName').hasError('required')">
                {{ 'form.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="item" fxFlex>
            <mat-form-field fxFlex="100%">
              <input matInput [placeholder]="'user.lastName' | translate" formControlName="lastName"
                [(ngModel)]="user.lastName">
              <mat-error *ngIf="form.get('lastName').hasError('required')">
                {{ 'form.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>

        <div fxLayout fxLayout.xs="column" fxLayoutGap="20px" fxLayoutGap.xs="0">
          <div class="item" fxFlex>
            <mat-form-field fxFlex="100%">
              <input matInput type="number" [placeholder]="'user.age' | translate" formControlName="age"
                [(ngModel)]="user.age">
              <mat-error *ngIf="form.get('age').hasError('required')">
                {{ 'form.error.required' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
          <div class="item" fxFlex>
            <mat-form-field fxFlex="100%">
              <input matInput type="email" [placeholder]="'user.email' | translate" formControlName="email"
                [(ngModel)]="user.email">
              <mat-error *ngIf="form.get('email').hasError('required')">
                {{ 'form.error.required' | translate }}
              </mat-error>
              <mat-error *ngIf="form.get('email').hasError('email')">
                {{ 'form.error.email' | translate }}
              </mat-error>
            </mat-form-field>
          </div>
        </div>
      </mat-card-content>

      <mat-divider class="mat-divider mat-divider-horizontal"></mat-divider>

      <div fxLayout="row" fxLayoutAlign="end" class="flex-p">
        <button type="button" (click)="onBack()" mat-button class="m-1" color="warn">
          <mat-icon class="m-1">close</mat-icon> {{ 'all.cancel' | translate }}
        </button>
        <button type="button" [disabled]="disableSubmit" class="m-1" mat-raised-button color="primary"
          (click)="onSubmit()">
          <mat-icon class="m-1">save</mat-icon> {{ 'all.save' | translate }}
        </button>
      </div>
    </mat-card>
  </div>
</div>